  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Casa Di Pasta</a>
      <img src="/Asset/images/Casa_Di_pasta.png" alt="Logo" style="height:35px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto ms-2 mb-lg-0">

        <li class="nav-item">
          <% if (title == "Home") { %>
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } %>

        <li class="nav-item">
          <% if (title == "Order") { %>
          <a class="nav-link active" aria-current="page" href="/order"><i class="fa-solid fa-lg fa-book"></i> Order</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/order"><i class="fa-solid fa-lg fa-book"></i> Order</a>
          <% } %>
          </li>

        </li>
        <li class="nav-item">
        <% if (title == "About") { %>
          <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
        <% } %>
        </li>

        <li class="nav-item">
          <% if (title == "Contact us") { %>
          <a class="nav-link active" aria-current="page" href="/contactus"><i class="fa-solid fa-lg fa-phone"></i> Contact Us</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/contactus"><i class="fa-solid fa-lg fa-phone"></i> Contact Us</a>
          <% } %>
        </li>
            <li class="nav-item">
          <% if (title == "Login") { %>
          <a class="nav-link active" aria-current="page" href="/login"><i class="fa-solid fa-lg fa-phone"></i> login</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/login"><i class="fa-solid fa-lg fa-phone"></i> Login </a>
          <% } %>
        </li>

    </div>
  </div>
</nav>