body {
    margin: 0;
    padding: 0;
    /*Adds  a lineear gradent to the bottom */
    background: linear-gradient(to bottom, #b7c2ac, #e6e6e6);

    /* keeps the gradient still while scrolling */
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
}
