body {
    margin: 0;
    padding: 0;
    /*Adds  a lineear gradent to the bottom */
    background: linear-gradient(to bottom, #b7c2ac, #e6e6e6);
    /* or a softer gradient */
    /* background: linear-gradient(to bottom, #fafafa, #dcdcdc); */

    background-attachment: fixed; /* keeps the gradient still while scrolling */
    font-family: Arial, sans-serif;
}
