<!-- Include the site header partial -->
<%- include ../partials/header.ejs %>
<!-- Include the site main nav partial  -->
<%- include ../partials/main_nav.ejs %>

<!-- If statment to show this content if the page title is "Register" -->
<% if (title==='Register' ) { %> 
<main class="container">
    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alter danger">
            <%= message %>
        </div>
    <%}%>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <!-- Asks the User to login -->
            <h1>Register here</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                     <!-- Asks the User for a  username -->
                    <input type="text" class="form-control"name="username"placeholder="Enter username"id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password"></label>
                     <!-- Asks the User for a  passowrd -->
                    <input type="password" class="form-control"name="password"placeholder="Enter password"id="password" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email"></label>
                     <!-- Asks the User for a email -->
                    <input type="email" class="form-control"name="email"placeholder="Enter your email"id="email" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName"></label>
                    <input type="displayName" class="form-control"name="displayName"placeholder="Enter your displayName"id="displayName" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <!-- Creates a button login when the user in registering and submits -->
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/"></a>
                    <!-- Creates a button cancel when the user in registering and preses cancel-->
                    <input type="button" class="btn btn-warning" value="Cancel">
                    <a href="/"></a>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<% } %>
<%- include ../partials/footer.ejs %>